<footer>
  <div class="footer-area pt-50 bg-white">
    <div class="container">
      <div class="row pb-30">
        <div class="col">
          <img src="/assets/img/footer-2.jpg" width="100" height="100" class="rounded-circle">
          <h3><a href="/">Home</a></h3>
          <p><a href="/archaeology/">Biblical Archaeology</a> - Significant Discoveries from Ancient Empires.</p>
          <p><a href="/jerusalem">Ancient Jerusalem</a> - Interactive Study of Jerusalem with Map.</p>
          <p><a href="/studybible/">Picture Study Bible</a> - StudyBible with Pictures and Maps.</p>
          <p><a href="/geography/ancient-israel/israel-first-century.html">First Century Israel Map</a> -
            Large Map of Israel in the First Century - Click around on the <a href="/geography/ancient-israel/ntisrael-sitemap.html">Cities</a>.</p>
            <p><a href="/bible">The Incredible Bible</a> - First in the BKA Series.</p>
          </div>
          <div class="col">
            <img src="/assets/img/footer-3.jpg" width="100" height="100" class="rounded-circle">
            <h3>Bible</h3>
            <p><a href="/maps/romanempire/">Roman Empire Map</a> -
              Large Map of the Roman Empire in the Early First Century - Click around on the <a href="/maps/romanempire/places.html">Places</a>.</p>
              <p><a href="/rome/">The History of Rome</a> - Brief Overview Of Roman History from Her Dawn to the First Punic War.</p>
              <p><a href="/tabernacle/">The Tabernacle of Ancient Israel</a> - Brief Overview of the Tabernacle of Moses in the Wilderness and the Ark of the Covenant.</p>
              <p><a href="/babylonia/">The Babylonians</a> - Learn about ancient Babylon and the people who lived there.</p>
            </div>
            <div class="col d-none d-lg-block">
              <img src="/assets/img/footer-1.jpg" width="100" height="100" class="rounded-circle">
              <h3>History</h3>
              <p><a href="/old-testament/">Old Testament Overview</a> - General survey of the Old Testament.</p>
              <p><a href="/new-testament/">New Testament Overview</a> - General survey of the New Testament.</p>
              <p><a href="/jesus/">A Harmony of the Life of Jesus</a> - Four gospel accounts in harmony.</p>
              <p><a href="/biblehistoryonline_lostlaughs.php">Lost Laughs</a> - Ancient Humor.</p>
              <p><a href="/index1999-2016.php">Original Bible History Online</a> - Visit the original site 1999-2016.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area bg-white">
        <div class="container">
          <div class="footer-border pt-20 pb-20">
            <div class="row d-flex align-items-center justify-content-between">
              <div class="col">
                <div class="footer-copy-right">
                  <p class="font-small">&copy; {{ "now"|date('Y') }}, <a href="/">{{ siteName }}</a> | All rights reserved</p>
                </div>
              </div>
              <div class="col">
                <div class="footer-copy-right">
                  <ul class="footer-social-left">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-app-store-ios"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
