<header class="main-header header-style-2 mb-40">
    <div class="header-bottom header-sticky background-white text-center">
        <div class="scroll-progress gradient-bg-1"></div>
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header-logo d-none d-lg-block">
                        <a href="/">
                            <img class="logo-img d-inline" src="/assets/img/logo.svg" alt="{{ siteName }}">
                        </a>
                    </div>
                    <div class="logo-tablet d-md-inline d-lg-none d-none">
                        <a href="/">
                            <img class="logo-img d-inline" src="/assets/img/logo.svg" alt="{{ siteName }}">
                        </a>
                    </div>
                    <div class="logo-mobile d-block d-md-none">
                        <a href="/">
                            <img class="logo-img d-inline" src="/assets/img/logo.svg" alt="{{ siteName }}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 main-header-navigation">
                    <!-- Main-menu -->
                    <div class="main-nav text-left float-lg-left float-md-right">
                        <ul class="mobi-menu d-none menu-3-columns" id="navigation">
                            <li class="cat-item cat-item-2"><a href="#">Global Economy</a></li>
                            <li class="cat-item cat-item-3"><a href="#">Environment</a></li>
                            <li class="cat-item cat-item-4"><a href="#">Religion</a></li>
                            <li class="cat-item cat-item-5"><a href="#">Fashion</a></li>
                            <li class="cat-item cat-item-6"><a href="#">Terrorism</a></li>
                        </ul>
                        <nav>
                            <ul class="main-menu d-none d-lg-inline">
                              {% nav entry in craft.entries.section('topMenu').level(1).all() %}
                                {% if entry.hasDescendants() %}
                                <li class="menu-item-has-children {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                                  <a href="#0">{{ entry.title }}</a>

                                  <ul class="sub-menu text-muted font-small">
                                    {% set subEntries = craft.entries.descendantOf(entry).level(2) %}

                                    {% for entry in subEntries.all() %}
                                    <li class="{% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                                      <a href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
                                    </li>
                                    {% if loop.last %}
                                  </ul>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% else %}
                                <li class="{% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                                  <a href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
                                </li>
                                {% endif %}
                              {% endnav %}
                            </ul>
                        </nav>
                    </div>
                    <!-- Search -->
                    <form action="#" method="get" class="search-form d-lg-inline float-right position-relative mr-30 d-none">
                        <input type="text" class="search_field" placeholder="Search" value="" name="s">
                        <span class="search-icon"><i class="ti-search mr-5"></i></span>
                    </form>
                    <!-- Off canvas -->
            
                </div>
            </div>
        </div>
    </div>
</header>
