<div class="col-lg-3 col-md-12 sidebar-right">
    <div class="sidebar-widget mb-30">
        <div class="widget-header position-relative mb-30">
            <div class="row">
                <div class="col-12">
                    <h4 class="widget-title mb-0">Table of Contents</h4>
                </div>
            </div>
        </div>
        <div class="post-aside-style-1 p-20 bg-white">
            <ul class="list-post">
                <li class="mb-20">
                    <div class="d-flex">
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row"><a href="#">Federal arrests show no sign that antifa plotted protests</a></h6>
                        </div>
                    </div>
                </li>
                    <li class="mb-20">
                        <div class="d-flex">
                            <div class="post-content media-body">
                                <h6 class="post-title mb-10 text-limit-2-row"><a href="#">Federal arrests show no sign that antifa plotted protests</a></h6>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-widget">
        <div class="widget-header mb-30">
            <h5 class="widget-title">Top <span>Trending</span></h5>
        </div>
        <div class="post-aside-style-2">
            <ul class="list-post">
                <li class="mb-30 wow fadeIn animated">
                    <div class="d-flex">
                        <div class="post-thumb d-flex mr-15 img-hover-scale">
                            <a class="color-white" href="#">
                                <img src="/assets/temp_img/thumbnail-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">
                              <a href="#">Vancouver woman finds pictures and videos of herself online</a>
                            </h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
