<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css">
{#
<link rel="stylesheet" href="vendor/owl.carousel.min.css">
<link rel="stylesheet" href="vendor/ticker-style.css">
<link rel="stylesheet" href="vendor/material-icons.min.css">
<link rel="stylesheet" href="vendor/weather-icons.min.css">
<link rel="stylesheet" href="vendor/slicknav.css">
<link rel="stylesheet" href="vendor/animate.min.css">
<link rel="stylesheet" href="vendor/magnific-popup.css">
<link rel="stylesheet" href="/assets/libs/fontawesome/css/all.min.css">
<link rel="stylesheet" href="vendor/slick.css">
<link rel="stylesheet" href="vendor/nice-select.css">
<link rel="stylesheet" href="vendor/perfect-scrollbar.css">
#}
<link rel="stylesheet" href="/assets/css/responsive.css">
<link rel="stylesheet" href="/assets/css/style.css">
