{% extends "_layout" %}

{% block content %}
{% include "_includes/_sidebar" %}
<div class="row">
<div class="col-lg-9 col-md-9 order-1 order-md-2">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="latest-post mb-50">
        <div class="widget-header position-relative mb-30">
          <div class="row">
            <div class="col-12">
              <h4 class="widget-title mb-0">Latest Posts</h4>
            </div>
          </div>
        </div>
        <div class="loop-list-style-1">
          <article class="first-post p-10 background-white mb-30 wow fadeIn animated">
            <div class="img-hover-slide mb-30 position-relative overflow-hidden">
              <span class="top-right-icon bg-dark"><i class="mdi mdi-flash-on"></i></span>
              <a href="#">
                <img src="/assets/temp_img/news-21.jpg" alt="post-slider">
              </a>
            </div>
            <div class="pr-10 pl-10">

              <h4 class="post-title mb-20">

                <a href="#">Team Bitbose
                   geared up to attend Blockchain World
                   Conference ’18 in Atlantic City, New Jersey</a>
                 </h4>
                 <p class="post-exerpt font-medium text-muted mb-30">These people
                   envy me for having a lifestyle they don’t have,
                   but the truth is, sometimes I envy their lifestyle instead.
                   Struggling to sell one multi-million dollar home currently.</p>

              </div>
            </article>
            <article class="first-post p-10 background-white mb-30 wow fadeIn animated">

              <div class="pr-10 pl-10">

                <h4 class="post-title mb-20">

                  <a href="#">Team Bitbose
                     geared up to attend Blockchain World
                     Conference ’18 in Atlantic City, New Jersey</a>
                   </h4>
                   <p class="post-exerpt font-medium text-muted mb-30">These people
                     envy me for having a lifestyle they don’t have,
                     but the truth is, sometimes I envy their lifestyle instead.
                     Struggling to sell one multi-million dollar home currently.</p>

                </div>
              </article>
              <article class="first-post p-10 background-white mb-30 wow fadeIn animated">

                <div class="pr-10 pl-10">

                  <h4 class="post-title mb-20">

                    <a href="#">Team Bitbose
                       geared up to attend Blockchain World
                       Conference ’18 in Atlantic City, New Jersey</a>
                     </h4>
                     <p class="post-exerpt font-medium text-muted mb-30">These people
                       envy me for having a lifestyle they don’t have,
                       but the truth is, sometimes I envy their lifestyle instead.
                       Struggling to sell one multi-million dollar home currently.</p>

                  </div>
                </article>

              </div>
            </div>
            <div class="pagination-area mb-30">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link" href="#">04</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
          {% include "_includes/_sidebar_right" %}
        </div>
      </div>
      </div>
      {% endblock %}
