<div class="list-inline">
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/a">A</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/b">B</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/c">C</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/d">D</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/e">E</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/f">F</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/g">G</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/h">H</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/i">I</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/j">J</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/k">K</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/l">L</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/m">M</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/n">N</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/o">O</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/p">P</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/q">Q</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/r">R</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/s">S</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/t">T</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/u">U</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/v">V</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/w">W</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/x">X</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/y">Y</a>
  <a class="list-inline-item" href="{{ craft.app.request.absoluteUrl }}/z">Z</a>
</div>
